<nav class="navbar">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand"> 🏥 Hospital Management </a>

    <!-- Search -->
    <form class="d-flex mx-auto" role="search">
      <input class="form-control me-2" type="search" placeholder="Search patient, doctor..." />
      <button class="btn btn-primary">Search</button>
    </form>

    <!-- Right Side -->
    <ul class="navbar-nav align-items-center">
      <!-- Notification -->
      <li class="nav-item me-3">
        <i class="bi bi-bell fs-5"></i>
      </li>

      <!-- User -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
          👤 Admin
        </a>

        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item">Profile</a>
          </li>

          <li>
            <a class="dropdown-item">Settings</a>
          </li>

          <li><hr class="dropdown-divider" /></li>

          <li>
            <a class="dropdown-item text-danger"> Logout </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
