<div class="form-container">
  <form [formGroup]="patientForm" (ngSubmit)="onSubmitForm()">
    <div class="input-column">
      <label for="patient-name">Name</label>
      <input id="patient-name" type="text" formControlName="name" />
      <div *ngIf="(name.touched || name.dirty) && name.invalid" class="error-class">
        <span *ngIf="name.errors?.['required']">Name is required.</span>
        <span *ngIf="name.errors?.['minlength']">Name must be between 2 and 50 characters..</span>
      </div>
    </div>
    <div class="input-column">
      <label for="patient-age">Age</label>
      <input type="number" id="patient-age" formControlName="age" />
      <div *ngIf="(age.touched || age.dirty) && age.invalid" class="error-class">
        <span *ngIf="age.errors?.['required']">Age is required.</span>
        <span *ngIf="age.errors?.['min']">Age must be non-negative.</span>
      </div>
    </div>
    <div class="input-column">
      <label for="disease">Disease</label>
      <input type="text" id="disease" formControlName="disease" />
      <div *ngIf="(disease.touched || disease.dirty) && disease.invalid" class="error-class">
        <span *ngIf="disease.errors?.['min'] || disease.errors?.['max']">
          Disease must be between 3 and 100 characters.</span
        >
      </div>
    </div>
    <div class="button-column">
      <button type="submit" [disabled]="patientForm.invalid">Submit</button>
    </div>
  </form>
</div>
